Update SQL Table
A given data of 12 Employees working in an investment firm. So add the Employee Data in Employee SQLite Database of Employee_Detail Table which was created by you.
Alt Text

Print 'Done' when you have completed the task.
Note:Save the SQLIte Database in your local system.As it will be used in future question.
Output Format
Done

In [1]:
## Open and read data file as specified in the question
## Print the required output in given format
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]


import sqlite3
db = sqlite3.connect('Employee.sqlite')
cur = db.cursor()
cur.execute('CREATE TABLE Employee_Detail (employeeid int primary key, name text , age int ,department text,salary int)')
db.commit()
for i in range(len(employee_id)):
    cur.execute('INSERT INTO Employee_Detail values(?,?,?,?,?)',(employee_id[i],name[i],age[i],department[i],salary[i]))
    db.commit()
    
else:
    print('Done')

Done

In [ ]:
Finance Employee SQLite
Find the employee_id of employee whose is working in Finance Department in Investment firm from Employee SQLite Database.
Print the employee_id as integer value
Output Format:
employee_id_1
employee_id_2

In [ ]:
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

import sqlite3
db = sqlite3.connect('Employee.sqlite')
cur = db.cursor()
cur.execute('CREATE TABLE Employee_Detail (employeeid int primary key, name text , age int ,department text,salary int)')
db.commit()
for i in range(len(employee_id)):
    cur.execute('INSERT INTO Employee_Detail values(?,?,?,?,?)',(employee_id[i],name[i],age[i],department[i],salary[i]))
    db.commit()
    
else:
    print('Done')
    
cur.execute("SELECT employeeid FROM Employee_Detail WHERE department=='Finance'")
result = cur.fetchall()
for i in result:
    print(i[0])

Find Employee
Find the number of employee working in different department in an investment firm from Employee SQLite Database.
Print the department and number of employee
Output Format:
department_1 num_employee_1
department_2 num_employee_2
department_3 num_employee_3

In [ ]:
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

import sqlite3
db = sqlite3.connect('Employee.sqlite')
cur = db.cursor()
cur.execute('CREATE TABLE Employee_Detail (employeeid int primary key, name text , age int ,department text,salary int)')
db.commit()
for i in range(len(employee_id)):
    cur.execute('INSERT INTO Employee_Detail values(?,?,?,?,?)',(employee_id[i],name[i],age[i],department[i],salary[i]))
    db.commit()
    
cur.execute("SELECT department,count(employeeid) FROM Employee_Detail group by department")
result = cur.fetchall()

for i in result:
    print(i[0],i[1])

Count Genre
IMDB.sqlite' database contains all details of movies and has three tables with name IMDB, genre and earning.
Find the count of each genre present in IMDB movie dataset?
Print the Genre and number of movies present in that genre.
Note: Ignore the empty value present in genre.
Output Format:
genre_1 num_movie_1
genre_2 num_movie_2
. . .

In [ ]:
import pandas as pd 
import sqlite3

db = sqlite3.connect('IMDB.sqlite')
df  = pd.read_sql_query('select * from genre',db)
df = df[df['genre']!='']
data = df.groupby('genre').size()
data = data.to_dict()

for i, j in data.items():
    print(i,j)