Project Details
For this project, we are using the TMDb (The Movie Database) API.
TMDb API enables you to find out the latest information about TV Shows, Movies and the biggest names in entertainment sector for a marvelous and fun TV/Movie watching experience.
TMDb documentation link
After joining TMDb, you can easily generate a new developer API key using this link
Our Motivation for using TMDb API
By collecting the data using TMDb API one can recommend TV Shows, Movies and all sorts of entertainment on the basis of userâ€™s affinity to specific genres, actors, likes and dislikes.
We can find details about upcoming TV Shows and Movies.
We can find what is the most popular and/ or exclusive/new content at a given time.

In [2]:
import requests
apiKey = 'ffafe1f2b141d9a9fcae15771fe46db1'

TMDb 1.1
Find the 'id' of the movie "Andhadhun" using TMDb API.
Output Format:
Print the id of the movie

In [3]:
for i in range(1,10):
    res = requests.get('https://api.themoviedb.org/3/discover/movie',params={'api_key':apiKey,'page':i,'region':'IN','year':2018}) 
    data=res.json()
    for i in data['results']:
        if 'Andhadhun' in i['title']:
            print(i['id'])
            break

534780

TMDb 1.2
Fetch the company id company 'Marvel Studios' using TMDb. Print the id.

In [4]:
res = requests.get('https://api.themoviedb.org/3/search/company',params={'api_key':apiKey,'page':1,'query':'Marvel Studios'}) 
data=res.json()
print(data['results'][0]['id'])

420

TMDb 1.3
Find the vote count and vote average of the movie "3 Idiots" using the TMDb API
Output format: Vote Count , Vote Average

In [5]:
for i in range(1,10):
    res = requests.get('https://api.themoviedb.org/3/discover/movie',params={'api_key':apiKey,'page':i,'region':'IN','year':2009}) 
    data=res.json()
    for i in data['results']:
        if '3 Idiots' in i['title']:
            print(i['vote_count'],i['vote_average'])
            break

1941 8

TMDb 1.4
Fetch the names of top 5 similar movies to 'Inception' from the TMDb API.
Output Format:
Print the name of the movies in a new line.
movie_name_1
movie_name_2
and so on

In [6]:
res = requests.get('https://api.themoviedb.org/3/search/movie',params={'api_key':apiKey,'query':'Inception'}) 
data=res.json()
for i in data['results']:
    if i['title']=='Inception':
        print(i['id'])
        break

27205

In [7]:
res = requests.get('https://api.themoviedb.org/3/movie/27205/similar',params={'api_key':apiKey}) 
data=res.json()

for i in data['results'][:5]:
    print(i['title'])

American Underdog
Antebellum
Paris, 13th District
Strip Down, Rise Up
The Gray Man

TMDb 1.5
Fetch the top rated english movies in the US region using the TMDb API. From the result, print the first 10 movies which have original language as english. Also print their genres.
Note: Do not use the search/movies API for finding genres.
Output Format:
movie_name_1 - genre_1, genre_2 ....
and so on..

In [8]:
# find id of genres
res = requests.get('https://api.themoviedb.org/3/genre/movie/list',params={'api_key':apiKey}) 
data=res.json()
genres={}
for i in data['genres']:
    genres[i['id']]=i['name']
genres

{28: 'Action',
 12: 'Adventure',
 16: 'Animation',
 35: 'Comedy',
 80: 'Crime',
 99: 'Documentary',
 18: 'Drama',
 10751: 'Family',
 14: 'Fantasy',
 36: 'History',
 27: 'Horror',
 10402: 'Music',
 9648: 'Mystery',
 10749: 'Romance',
 878: 'Science Fiction',
 10770: 'TV Movie',
 53: 'Thriller',
 10752: 'War',
 37: 'Western'}

In [9]:
res = requests.get('https://api.themoviedb.org/3/movie/top_rated',params={'api_key':apiKey,'region':'US'}) 
data=res.json()
data['results']
count=0
for i in data['results']:
    if i['original_language']=='en':
        print(i['title'],end=' - ')
        for j in i['genre_ids']:
            print(genres[j],end=', ')
        print()
        count+=1
    if count==10:
        break

The Godfather - Drama, Crime,
The Shawshank Redemption - Drama, Crime,
The Godfather Part II - Drama, Crime,
Schindler's List - Drama, History, War,
12 Angry Men - Drama,
The Green Mile - Fantasy, Drama, Crime,
The Dark Knight - Drama, Action, Crime, Thriller,
Gabriel's Inferno: Part II - Romance,
Gabriel's Inferno - Romance,
Pulp Fiction - Thriller, Crime,

TMDb 2.1
Find the name and birthplace of the present most popular person according to TMDb API.
Output Format:
id
name - birthplace

In [10]:
res = requests.get('https://api.themoviedb.org/3/person/popular',params={'api_key':apiKey}) 
data=res.json()
data=data['results'][0]
MostPopularId=data['id']
MostPopularId

3194176

In [11]:
res = requests.get('https://api.themoviedb.org/3/person/1136406',params={'api_key':apiKey}) 
data=res.json()
print(data['name'],'-',data['place_of_birth'])

Tom Holland - Surrey, England, UK

TMDb 2.2
Fetch the Instagram and Twitter handle of Indian Actress "Alia Bhatt" from the TMDb API.
Output Format
Print the Instagram and Twitter IDs space separated.
instagram_id twitter_id

In [13]:
res = requests.get('https://api.themoviedb.org/3/search/person',params={'api_key':apiKey,'query':'Alia Bhatt'}) 
data=res.json()
ID  = data['results'][0]['id']

In [14]:
res = requests.get(f'https://api.themoviedb.org/3/person/{ID}/external_ids',params={'api_key':apiKey}) 
data=res.json()
print(data['instagram_id'],data['twitter_id'])

aliaabhatt Aliaa08

TMDb 2.3
Fetch the names of the character played by Tom Cruise in the movies:
Top Gun
Mission: Impossible - Fallout
Minority Report
Edge of Tomorrow
Output Format:
Print the names of the characters played by Tom Cruise line separated, in the respective order given in question.

In [15]:
res = requests.get('https://api.themoviedb.org/3/search/person',params={'api_key':apiKey,'query':'Tom Cruise'}) 
data=res.json()
ID  = data['results'][0]['id']
ID

500

In [16]:

res = requests.get(f'https://api.themoviedb.org/3/person/{ID}/movie_credits',params={'api_key':apiKey}) 
data=res.json()
for i in data['cast']:
    if i['title']=='Top Gun':
        print(i['character'])
        break
for i in data['cast']:
    if i['title']=='Mission: Impossible - Fallout': 
        print(i['character'])
        break
for i in data['cast']:
    if i['title']=='Minority Report': 
        print(i['character'])
        break
for i in data['cast']:
    if i['title']=='Edge of Tomorrow': 
        print(i['character'])
        break

Lt. Pete 'Maverick' Mitchell
Ethan Hunt
Chief John Anderton
Maj. William 'Bill' Cage

TMDb 2.4
Did mames McAvoy play a role in the movie Deadpool 2. Print Yes or No.

In [17]:
res = requests.get('https://api.themoviedb.org/3/search/person',params={'api_key':apiKey,'query':'McAvoy'}) 
data=res.json()
ID  = data['results'][0]['id']
ID

5530

In [18]:
res = requests.get(f'https://api.themoviedb.org/3/person/{ID}/movie_credits',params={'api_key':apiKey}) 
data=res.json()

for i in data['cast']:
    if 'Deadpool' in i['title']:
        print('Yes')
        break
else:
    print('No')

Yes

TMDb 2.5
Using the result obtained in previous question, find out if James McAvoy was credited for his role in movie Deadpool 2. Print Yes or No.

In [19]:
for result in data['cast']:
    if result['title']=='Deadpool 2':
        a=result['character']
        print('No')

No

TMDb 3.1
Fetch the overview of the TV Show "FRIENDS" using TMDb API.
Output Format:
Print the Overview.

In [20]:
res = requests.get('https://api.themoviedb.org/3/search/tv',params={'api_key':apiKey,'query':'FRIENDS'}) 
data=res.json()
for i in data['results']:
    if i['original_name']=='Friends':
        print(i['overview'])
        break

Six young people from New York City, on their own and struggling to survive in the real world, find the companionship, comfort and support they get from each other to be the perfect antidote to the pressures of life.

TMDb 3.2
Fetch the name and air date of S06E05 of the TV Show 'The Big Bang Theory' from TMDb API.
Output Format:
episode_name - air_date

In [21]:
res = requests.get('https://api.themoviedb.org/3/search/tv',params={'api_key':apiKey,'query':'The Big Bang Theory'}) 
data=res.json()
for i in data['results']:
    if i['original_name']=='The Big Bang Theory':
        ID = i['id']
        break
ID

1418

In [22]:
res = requests.get('https://api.themoviedb.org/3/tv/1418/season/06/episode/05',params={'api_key':apiKey,'query':'The Big Bang Theory'}) 
data=res.json()
print(data['name'],'-',data['air_date'])

The Holographic Excitation - 2012-10-25

TMDb 3.3
Fetch the trending TV Shows for the week from the TMDb API and print the taglines of the top 5 shows. If there is no tagline, print 'Empty' instead
Output Format:
Print the taglines in new line.

In [23]:
res = requests.get('https://api.themoviedb.org/3/trending/tv/week',params={'api_key':apiKey}) 
data=res.json()
id=[]
for i in data['results'][:5]:
    id.append(i['id'])

In [24]:
for i in id:
    res = requests.get(f'https://api.themoviedb.org/3/tv/{i}',params={'api_key':apiKey}) 
    data=res.json()
    print(data['tagline'])

What is lost will be found.
The Rebellion begins.

Coming to your habitat!
Fire and blood.

TMDb 3.4
Print the names of all the TV shows to be aired today whose original language is english.
Output Format:
Print the name of each TV show in a new line.

In [25]:
res = requests.get('https://api.themoviedb.org/3/tv/airing_today',params={'api_key':apiKey}) 
data=res.json()
total_pages=data['total_pages']

for j in range(1,total_pages+1):
    res = requests.get('https://api.themoviedb.org/3/tv/airing_today',params={'api_key':apiKey,'page':j}) 
    data=res.json()
    for i in data['results']:
        if i['original_language']=='en':
            print(i['name'])

The Walking Dead
Rick and Morty
Yellowstone
Imlie y Cheeni
The Simpsons
I'm a Celebrity Get Me Out of Here!
Family Guy
SEAL Team
NCIS: Los Angeles
Heartland
Bob's Burgers
The L Word: Generation Q
Â¿CÃ³mo se llama esta relaciÃ³n?
Tulsa King
The White Lotus
Top Gear
Last Week Tonight with John Oliver
Hudson & Rex
PBS News Weekend
Sister Wives
Talking Dead
Faltu
SAS: Rogue Heroes
The Equalizer
Strictly Come Dancing
Secrets of a Nympho
Ted's Notebook
Let the Right One In
The Great North
Dangerous Liaisons
90 Day FiancÃ©: Pillow Talk
90 Day FiancÃ©: Happily Ever After?
Paranormal Caught on Camera
The Real Housewives of Potomac
Unearthed
Island of Bryan
Moonshine
East New York
Escape to the Chateau
Lost Treasures of Egypt
Air Disasters
999: On the Front Line
American Monster
Step Up
The Great Canadian Baking Show
Ziwe
Significant Others
Sleeping With Death
Holiday Wars
Grand Prix Sunday
GRAND SUMO Highlights
The BMF Documentary - Blowing Money Fast
Family Karma
Christmas Cookie Challenge
Spector
The Lost Kitchen
The Dengineers
Chequered Flag
FIFA World Cup Qatar 2022
LEGO Masters
Everyday Cooking
La Pitchoune: Cooking in France
Sunday with Laura Kuenssberg
Italia 90: Four Weeks That Changed The World
Reef School

TMDb 3.5
Count the number of males and females in the cast of "Money Heist" using the TMDb API.
Output Format:
Print the count of male and female space separated.
male_count female_count

In [26]:
res = requests.get('https://api.themoviedb.org/3/search/tv',params={'api_key':apiKey,'query':'Money Heist'}) 
data=res.json()
for i in data['results']:
    if i['name']=='Money Heist':
        ID = i['id']
        break
ID

71446

In [27]:
res = requests.get(F'https://api.themoviedb.org/3/tv/{ID}/credits',params={'api_key':apiKey}) 
data=res.json()
Female=0
Male=0
for  i in data['cast']:
    if i['gender']==1:
        Male+=1
    elif i['gender']==2:
        Female+=1
        
print(Male,Female)

5 10